/* Place CSS styles here */

/* First and last name with the hamburger menu */
.header {
	display: flex;
	top: 20px;
	left: 20px;
	right: 20px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 10;
  }
  
  h1 {
	font-family: pennypacker, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #333;
	margin-left: 30px;
  }
  
  html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: auto; 
  }
  
  body {
	flex-direction: column;
	background-color:rgb(153, 153, 153)
  }

/* hamburger menu settings */
.off-screen-menu{
	background-color:black ;
	height: 100vh;
	width: 100%;
	max-width: 350px;
	position: fixed;
	top: 0;
	right: -450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center ;
	font-size: 3px;
	transition: .3s ease;
}

.off-screen-menu.active{
	right: 0;
}

nav{
	padding: 10px;
	display: flex;
  margin-right: 50px;
}

.ham-menu{
height: 50px;
width: 50px;
margin-left: auto;
position: relative;
}

.ham-menu span{
	height: 5px;
	width: 100%;
	background-color: rgb(43, 42, 42);
	border-radius: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: .3s ease;
	}

.ham-menu span:nth-child(1){
	top: 25%;
}

.ham-menu span:nth-child(2){
	top:50%;
}

.ham-menu span:nth-child(3){
	top: 75%;
}
.ham-menu.active span{
background-color: white;
}

.ham-menu.active span:nth-child(1){
	top:50% ;
	transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
	opacity: 0%;
}
.ham-menu.active span:nth-child(3){
	top:50% ;
	transform: translate(-50%, -50%) rotate(-45deg);
}

a {
  text-decoration: none;  
  color: inherit;         
}

a:visited {
  color: inherit;        
}

a:hover, a:focus {
  color: #007bff;         
  text-decoration: underline; 
}

a:active {
  color: #0056b3;         
}


li{
  font-family: pennypacker-semiwide, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 30px;
  margin-left: 60px;
  padding: 15px;

}

/* Carousel Slide Show */
.slick-prev {
    left: 5px;
    z-index: 1;
  }
  
  .slick-next {
    right: 15px
  }

  /* Footer */
footer {
	font-family: pennypacker-semiwide, sans-serif;
	font-weight: 700;
	font-style: normal;
	background-color: #0e0e0e;
	color: white;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
  }
  .footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }

  footer p {
	margin: 10px 0;
  }

  .contact-button-container {
	margin: 10px 0; 
  }
  
  .contact-button {
	background-color: rgb(43, 42, 42);
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
	background-color: #0056b3;
  }
  
  
  /* Social Media Section */
  .social-media {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 10px;
  }
  
  .social-media a {
	display: inline-block;
	width: 42px;
	height: 42px;
  }
  
  .social-media img {
	width: 100%;
	height: 100%;
  }


  .pro1{

	margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	display: flex;
	height: 100vh;
	font-family: pennypacker, sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .scroll {
	display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll; 
    scroll-snap-type: x mandatory; 
	margin: 0;
	scrollbar-width: none;
  }
  
  .section-scroll{
	flex: 0 0 100vw; 
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .content {
	display: flex;
	justify-content: space-between; 
    align-items: center;
    width: 100%; /
  }
  
  .text-block {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    flex: 1; 
    gap: 30px; 
	margin-bottom: 200px;
	margin-left: 10px;
}

.text-block h2 {
    margin: 0;
    text-align: left;
	font-family: pennypacker, sans-serif;
	font-size: 1.5rem;
}

.text-block p {
    margin: 0;
    text-align: left;
	font-size: 1rem; 
	max-width: 500px;
	line-height: 1.5;
	
}

.content img {
    max-width: 810px;
    height: auto;
    flex: 0 0 auto; 
    display: block;
}

.image-row {
	display: flex;
	gap: 20px;
	justify-content: center; 
	align-items: center; 
  }
  
  .image-row img {
	max-width: 750px;
	height: auto;
	display: block;
  }

/* About Me Page */

  .about{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: pennypacker-semiwide, sans-serif;
  	font-weight: 700;
  	font-style: normal;
  }

  .main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh; 
	padding: 20px;
  }
  
  .carousel-container {
	flex: 1;
	max-width: 600px; 
	margin-right: 20px;
  }
  
  .rending-carousel img {
	width: 90%;
	height: auto;
	display: block;
	margin-top: 50px;
  }
  
  .text-content {
	flex: 1;
	max-width: 400px; 
  }
  
  .text-content h2 {
	font-family: pennypacker, sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 50px;
	color: #333;
  }
  
  .text-content p {
	font-family: pennypacker, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #555;
	margin-bottom: 300px;
  }

.about-carousel img {
	width: 90%;
	height: auto;
	display: block;
	margin-top: 50px;
  }

  .about-carousel .slick-next{
	right: -35px
  }

  .about-carousel .slick-prev{
	left: 20px;
  }


  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  *:focus {
	outline: 0;
  }
  
  html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
	  font-family: sans-serif;
  }
  
  .container {
	  display: flex;
	  left: 0;
	  position: fixed;
	  top: 0;
	  width: 100%;
  }
  
  .container section {
	  display: flex;
	  height: auto;
	  min-width: 100%;
  }
  
  .container section .img-box {
	  height: 100vh;
	  min-width: 50%;
	  position: relative;
  }
  
  .container section .img-box img {
	  height: 100%;
	  left: 0;
	  object-fit: cover;
	  position: absolute;
	  top: 0;
	  width: 100%;
  }
  
  .container section .story-box {
	  padding: 100px 60px;
  }
  
  .container section .story-box h2 {
	  margin: 0 0 20px;
	  font-size: 48px;
  }
  
  .container section .story-box p {
	  font-size: 18px;
	  text-align: justify;
  }